[submodule "backend"]
	path = backend
	url = https://github.com/Jesus-Rojas/reto-nequi-backend
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/Jesus-Rojas/reto-nequi-frontend
	branch = main
